* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: "IBM Plex Mono" sans-serif;
}

header {
    background: #5300C8;
    color: #fff;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

header:hover {
    background:  #b8db68;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

main { 
    padding-top: 60px;
    padding-bottom: 60px;

}

h1 {
    display: flex;
    font-family: "Press Start 2P";
    margin-bottom: 8px;
    justify-content: center;
}

p {
    text-align: left;
}

/* Seção "Meus Produtos" */

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    text-align: center;
}

.produtos-container  {  
    max-width: 100%;
    align-items: center;
}

.card {
    background: #5300C8;
    color: #ffffff;
    width: 196px;
    height: 258px;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #000;
    align-items: center;
    top: 20px;
    left: 20px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 30px;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: -12px 9px 5px -4px rgba(0, 0, 0, 0.39);
}

.card:hover {
    background-color: #6591e9;
    color: #ffffff;
}


.card p {
    margin: 10px 10px;
}

.card img {
    display: block;
    margin: 0 auto;
    width: 176px;
    height: 174px;
    border-radius: 10px;
    border: 2px;
    gap: 8px;
    margin-bottom: 5px;
    border: 2px solid #000;
}

.meus-produtos {
    align-items: center;
    text-align: center;
}

.produtos {
    display: grid;
    width: 678px;
    height: auto;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 0px;
    padding: 20px;
    overflow: auto;
    gap: 25px;
    padding-top: 40px;
    box-shadow: -12px 9px 5px -4px rgba(0, 0, 0, 0.39);
}

.produtos img {
    align-items: center;
    width: 176px;
    height: 174px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-container--value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.card-container--value img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lixo {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.lixo:hover {
    background-color: #e50b36;
    color: #ffffff;
}

/* Seção "Adicionar Produtos" */
input {
    color: #03318c;
    font-family: "IBM Plex Mono";
    border-radius: 50px;
    width: 392px;
    height: 58px;
    border: 2px solid #03318c;
    margin-bottom: 15px;
    padding-left: 10px;
}


button {
    color: #03318c;
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-weight: 500;
    width: 188px;
    height: 55px;
    border-radius: 15px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #03318c;
    color: #ffffff; 
    cursor: pointer;
}

.input-group ::placeholder,
.button-group ::placeholder,
#file-upload-button {
    color: #03318c;
    
}

.adicionar-produtos {
    padding-left: 50px;
}

.guardar {
    background-color: #03318c;
    color: #fff;
    border: 2px solid #03318c;
    cursor: pointer;
}

.guardar:hover {
    background-color: #ffffff;
    color:  #03318c;
    border: 2px solid #03318c;
}

.limpar {
    background-color: #ffffff;
    color: #03318c;
    border: 2px solid #03318c;
    cursor: pointer;
}

#form-produto {
    max-width: 400px;
}

#form-produto button {
    cursor: pointer;
}

footer {
    background: linear-gradient(rgb(195, 13, 201) 50%, rgb(7, 93, 230) 100%);
    color: #fff;
    font-size: 16px;
    text-align: center;
   
}

footer p,
a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 778px) and (max-width: 1120px) {
    .container {
        display: flex;
        align-items: center;
        overflow: auto;
        text-align: center;
        flex-direction: column-reverse;
    }

    .produtos {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 16px;
        text-align: center;

    }

    #form-produto {
        padding-bottom: 10px;
        width: Fixed (430px) px; 
        gap: 40px;
        opacity: 0px;
    }
}

@media (min-width: 425px) and (max-width: 867px) {
    .container {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        width:  100%;
    }

    .produtos {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 16px;
        text-align: center;

    }

    #form-produto {
        display: block;
        padding-bottom: 50px;
        width: 100%;
        margin: 20px;

        text-align: center;
    }
}